/* =====================================================
   RESET
===================================================== */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    background: #0f0f0f;
    color: #eaeaea;
    line-height: 1.6;
    overflow-x: hidden;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

/* =====================================================
   VARIABLES
===================================================== */

:root {
    --bg-dark: #0f0f0f;
    --bg-light: #171717;
    --border: #2a2a2a;

    --accent: #c2a36b;
    --accent-soft: #e6d3b3;

    --text-muted: #9a9a9a;
    --text-titles: rgba(230, 225, 221, 1);
}
